
#install h1, #splash h1 {
  color: #999;
  font-size: 3em;
  text-align: center;
  font-weight: lighter;
}

#install h2 {
  color: #AAA;
  font-weight: lighter;
  text-align: center;
}

#install img, #splash img {
  display: block;
  margin: auto;
}

#install {
  color: #8e847a;
  margin: auto;
  text-align: center;
  width: 640px;
  background-color: #f0d9c2;
  font-family: Sans;
  padding-bottom:1em;
  padding-top:1em;}

#install label, #install p {
  font-size: 1em;
}

#install input {
  border: 1px solid #8e847a;
  padding: 15px;
  background-color: #fae8d6;
  font-family: Sans;
}

#install input[type=submit] {
  color: #8e847a;
  width: 320px;
}

#install .error {
  color: red;
}
